::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background-color: #e88b0a;
}

main h1 {
    text-align: center;
    color: #162A5F;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h1 span {
    color: #FFB233;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

body header div img {
    position: relative;
}

body header {
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgb(243, 209, 161);
    display: flex;
}

.dark-button {
    position: absolute;
    right: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #29064d;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 2px;
    background-color: #e88f13;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ffffff;
    border: 1px solid black;
}

input:focus + .slider {
    box-shadow: 0 0 1px #e88b0a;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


main section {
    width: 80%;
    height: 50vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 4px 30px 2px #B8B8B8;
    margin: auto;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

main section:hover {
    box-shadow: 0 4px 30px 2px #f6b458;
    transition-duration: 1s;
    width: 82%;
}

main section div:nth-child(2) {
    box-sizing: border-box;
    margin-left: 40vw;
    padding-top: 0px;
}

main section div:nth-child(2) h4 {
    color: #FD6E0A;
    font-family: Inter;
    font-size: 1.7vw;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;

}

main section div:nth-child(2) p:nth-child(2) {
    color: #747272;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 85%;
}

main section div:nth-child(2) p:nth-child(5) {
    color: #162A5F;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main section div:nth-child(2) a {
    color: #162A5F;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}

main section div:nth-child(2) a:hover {
    color: #FD6E0A;
    transition-duration: 1s;
    font-size: 25px;
}

main section aside:nth-child(1) > h3 {
    margin-left: 100px;
    color: #073e7f;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    padding-top: 20px;
}

main section > aside {
    position: relative;
}

main section > aside > img {
    position: absolute;
    width: 30vw;
    top: 13vh;
    left: 4vw;
    box-shadow: 0px 5px 30px 5px rgb(113, 103, 103);
    border-radius: 10px;
}

@media all and (max-width: 600px) {
    main h1 {
        font-size: 30px;
    }

    main section > aside > img {
        position: absolute;
        width: 70vw;
        top: 15vh;
        left: 0;
        right: 0;
        margin: auto;
    }

    main section {
        width: 80%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    main section div:nth-child(2) {
        margin-left: 0;
        text-align: center;
    }

    main section div:nth-child(2) p:nth-child(2) {
        width: unset;
    }

    main section div:nth-child(2) h4 {
        font-size: 14px;
    }
}