::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background-color: #e88b0a;
}

main h1{
    text-align: center;
    color: #162A5F;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h1 span{
    color: #FFB233;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

body header div img{
    margin-left: 1100px;
}

body header{
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgb(243, 209, 161);
}

main section{
    width: 1104px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 30px 2px #B8B8B8;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 50px;
}

main section div:nth-child(2){
    box-sizing: border-box;
    margin-left: 562px;
    padding-top: 0px;
}

main section div:nth-child(2) h4{
    color: #FD6E0A;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;

}

main section div:nth-child(2) p:nth-child(2){
    color: #747272;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

main section div:nth-child(2) p:nth-child(5){
    color: #162A5F;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main section div:nth-child(2) a{
    color: #162A5F;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}

main section aside:nth-child(1)>h3{
    margin-left: 100px;
    color: #073e7f;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    padding-top: 20px;
}
