body {
    width: 100%;
    background: url("../image/cart-2.jpg");
    background-size: cover;
}

body header {
    top: 0;
}

body header a:hover {
    cursor: pointer;
}

body main {
    /*background: url("");*/
    /*background-size: cover;*/
    height: 90vh;
    margin-top: 10vh;
    overflow: hidden;
}

body main > section:first-child {
    width: 500vw;
    height: 100%;
    /*box-sizing: border-box;*/
    overflow: hidden;
}

body main > section:first-child > section {
    width: 100vw;
    height: 100%;
    /*transition-duration: 1s;*/
}

.navbar-nav > li > a > h5:hover {
    color: #be4e4e;
    font-size: 21px;
    /*transition-duration: 0.5s;*/
}

.navbar-nav > li > a > h6:hover {
    /*color: #084bac;*/
}

.navbar-nav > li > a > h6:hover i {
    color: red;
}

#customer {
    height: 77vh;
}

#main-root {
    transition-duration: 1s;
}

#dashboard {
    height: 77vh;
}

#orderD {
    height: 77vh;
}

#dashboard {
    height: 77vh;
}

#item {
    height: 77vh;
}

@media all and (max-width: 768px) {
    #dashboard {
        border: 4px solid black;
        height: 130vh;
    }

    #orderD {
        border: 4px solid black;
        height: 130vh;
    }

    #item {
        border: 4px solid black;
        height: 130vh;
    }

    #customer {
        border: 4px solid black;
        height: 130vh;
    }

    #secondB{
        position: relative;
        top: 40vh;
    }
}