::selection {
    color: white;
    background: red;
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: #6363ce;
}
body header{
    position: absolute;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    box-shadow: 0px -1px 8px 2px rgba(112, 160, 230, 0.91);
    top: 0;
    background-color: white;
}

body header>aside>img{
    width: 15vw;
    position: relative;
    left: 50px;
    top: 10px;
}

body header>nav{
    position: absolute;
    right: 40px;
    top: 0;
}
body header>nav>ul>li{
    display: inline-flex;
    padding: 10px;
    position: relative;
    top: -10px;
    font-weight: bold;
}

body header>nav>ul>li>a:hover{
    color: #043abc;
    position: relative;
    top: -5px;
}

body header>nav>ul>li>.material-symbols-outlined{
    position: absolute;
    padding: 10px;
}

body main{
    position: relative;
    top: 0;
    margin-top: 60px;
}
body main>nav{
    position: absolute;
    background: #24327f;
    top: 0;
    bottom: 0;
    width: 270px;
}

body main>nav>ul>li{
    padding: 30px;
}

body main>nav>ul>li>a{
    color: white;
    padding-top: 40px;
    font-size: 20px;
}

body main>nav>ul>li>a:hover{
    color: #e80a0a;
    font-size: 25px;
}

body main>nav>ul>li::marker{
    content: none;
}

main section{
    margin-left: 150px;
    position: relative;
}

main section>section:first-child>img:first-child{
    width: 20vw;
    right: 0;
}

main section>section:first-child>img:nth-child(2){
    width: calc(100%/3);
}

main section>section:first-child>img:nth-child(3){
    width: 20vw;
    left: 0;
}

main section section:last-child>p:last-child{
    margin-bottom: 0px;
    padding-bottom: 20px;
}

footer{
    position: absolute;
    width: 100%;
    height: 70px;
    background: #747272;
}

footer>h4{
    text-align: center;
    color: #ffffff;
}

main section section:first-child>div{
    border: 1px solid #000000;
    position: relative;
    display: inline-block;
    width: 25vw;
    height: 25vw;
    top: 10px;
}

main section section:first-child>div:first-child{
    background: url("../img/clip-brainstorm.gif");
}

main section section:first-child>div:nth-child(2){
    background: url("../img/clip-distance-education.gif");
}

main section section:first-child>div:last-child{
    background: url("../img/clip-applying-to-university-online.gif");
}