header{
    display: inline-flex;
    border-bottom: 2px solid #000;
    background: #FFF;
    width: 98.7vw;
    height: 49px;
    flex-shrink: 0;
    position: fixed;
}

header nav>div>menu{
    margin-left: 600px;
}


header nav>div>menu>li{
    display: inline-flex;
    margin-left: 50px;
}

header nav>div>menu>li>a{
    color: #162A5F;
    font-family: Libre Baskerville;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header nav>div>menu>li>a:hover{
    color: #FD6E0A;
}

h1{
    color: #0d0d72;
    text-space: 20px;
    text-align: center;
    font-size: 40px;
}

h4{
    color: #000000;
    text-space: 5px;
    text-align: center;
    font-size: 20px;
}

/*main section:first-child section:last-child{
    box-sizing: border-box;
    display: inline-flex;
    width: 725px;
    height: 103px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #8AEDF3;
    background: #FFF;
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(100px);
    margin-left: 290px;
}*/

/*main section:first-child section:last-child>div>img{
    padding-left: 100px;
    display: inline-flex;
    padding-top: 5px;
}*/

main section aside div>h1{
    text-align: left;
    color: red;
}

main section aside div>h4{
    text-align: left;
    color: blue;
}

main section aside div>p{
    text-align: left;
    color: blue;
}

main section aside strong{
    text-align: left;
    color: orange;
}

body footer div:nth-child(1) h4{
    color: coral;
    text-align: left;
}

body footer div:nth-child(2) h4{
    color: olivedrab;
    text-align: right;
}

/*body footer div:nth-child(2)>img{
    float: right;
    width: 5.33%;
    padding: 10px;
}*/

body footer>small{
    display: block;
    text-align: center;
    color: #ffffff
}

body main section:nth-child(3)>h1>span{
    font-size: 70px;
    color: red;
}

body main section:nth-child(3) div p:nth-child(1) span{
    font-size: 20px;
    color: blue;
}

main section:nth-child(2) div{
    box-sizing: border-box;

    display: inline-block;
    color: #838383;
    text-align: center;
    font-family: Hind, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 384px;
    height: 258px;

    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.25);

    margin-top: 50px;   
    margin-left: 50px;
}

main section:nth-child(2) div:hover{
    box-shadow: 0px 5px 30px 5px rgb(246, 180, 88);
}

main hr{
    width: 232.078px;
    height: 5px;
    background: #FD6E0A;
}

/*main section:nth-child(2) div img:hover{
    width: 100px;
}*/
/*main section:nth-child(2) div:nth-child(5){
    margin-left: 23px;
}

main section:nth-child(2) div:nth-child(6){
    margin-left: 200px;
}*/

footer{
    background: #FF770A;
    height: 320px;
    margin-bottom: 0px;
}

footer div{
    display: inline-flex;
}

footer>nav{
    align-items: center;
}