header{
    display: inline-flex;
    border-bottom: 2px solid #000;
    background: #FFF;
    width: 98.7vw;
    height: 49px;
    flex-shrink: 0;
    position: fixed;
}

header nav>div>menu{
    margin-left: 600px;
}

header nav>div>menu>li{
    display: inline-flex;
    margin-left: 50px;
}

header nav>div>menu>li>a{
    color: #162A5F;
    font-family: Libre Baskerville;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header nav>div>menu>li>a:hover{
    color: #FD6E0A;
}

h1{
    color: #0d0d72;
    text-space: 20px;
    text-align: center;
    font-size: 40px;
}

h4{
    color: #000000;
    text-space: 5px;
    text-align: center;
    font-size: 20px;
}
