body{
    width: 100%;
    height: 90vh;
    background: rgba(221, 220, 229, 0.96);
}

body header{
    top: 0;
}

body header a:hover{
    cursor: pointer;
}

body main{
    /*background: url("");*/
    /*background-size: cover;*/
    height: 90vh;
    margin-top: 10vh;
    overflow: hidden;
}

body main>section:first-child{
    width: 500vw;
    height: 100%;
    /*box-sizing: border-box;*/
    overflow: hidden;
}

body main>section:first-child>section{
    width: 100vw;
    height: 100%;
    transition-duration: 1s;
}

.navbar-nav>li>a>h5:hover{
    color: #084bac;
    font-size: 21px;
    transition-duration: 0.5s;
}

.navbar-nav>li>a>h6:hover{
    color: #084bac;
}

.navbar-nav>li>a>h6:hover i{
    color: red;
}

@media all and (max-width: 768px){
    #dashboadrd{
       border: 4px solid black;
    }
}