body{
    width: 100%;
    height: 100vh;

    background: rgba(221, 220, 229, 0.96);
}

body main{
    width: 100%;
    height: 100vh;
   /* background: url("../images/bg.png");
    background-size: cover;*/
}

.navbar-nav>li>a>h5:hover{
    color: #084bac;
    font-size: 21px;
    transition-duration: 0.5s;
}

.navbar-nav>li>a>h6:hover{
    color: #084bac;
}

.navbar-nav>li>a>h6:hover i{
    color: red;
}