body main{
    width: 100%;
    height: 100vh;
}

body main>section:first-child{
    height: 85vh;
}

.navbar-nav>li>a>h6:hover{
    color: #084bac;
}

.navbar-nav>li>a>h6:hover{
    color: #084bac;
}

.navbar-nav>li>a>h6:hover i{
    color: red;
}